html[dir="rtl"] {
  *:not(i) {
    font-family: "Cairo", sans-serif;
  }
  body {
    text-align: right;
  }
  .sub-college .colleges .college a::before {
    content: "\f104";
    margin-left: 10px;
    margin-right: 0;
  }
}

html[dir="ltr"] {
  .sub-college .colleges .college {
    margin-right: 0px;
    margin-left: 31px;
  }
  *:not(i) {
    font-family: "Century Gothic", sans-serif;
  }
  .news {
    .wrapper {
      .fa-long-arrow-alt-left {
        display: none;
      }
      .fa-long-arrow-alt-right {
        display: inline;
      }
    }
    img.mx-3 {
      transform: rotate(180deg);
    }
  }

  nav {
    .dropdown-item {
      direction: rtl;
      i.fa-chevron-right {
        display: inline;
      }
      i.fa-chevron-left {
        display: none;
      }
    }
  }

  header .carousel .arrows {
    right: 140px;
    left: auto;
  }
  aside {
    i {
      transform: rotate(180deg);
    }
  }

  .result {
    .card {
      i {
        transform: rotate(180deg);
      }
    }
  }
  .recruitment input#file ~ img {
    left: auto;
    right: 17px;
  }
}
