@import "./helpers.scss";

header {
  position: relative;
  .top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
  }
  .toolbar {
    padding: 15px 0;
    background: url(../imgs/toolbar.png) no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
    .wrapper {
      justify-content: space-between;
    }

    .fa-search {
      cursor: pointer;
    }
    .icons {
      display: flex;
      a {
        width: 24px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        border: 1px solid #fff;
        margin: 0 6px;
        i {
          font-size: 10.49px;
        }
      }
    }

    .lang {
      text-transform: uppercase;
      text-align: center;
      cursor: pointer;
    }
    @media #{$small} {
      .wrapper {
        justify-content: start;
      }

      .lang {
        margin-top: 0;
        text-align: end;
      }
    }
  }
  nav {
    position: relative;
    z-index: 10;
    transition: all 0.4s ease-in-out;
    &.sticked {
      position: fixed;
      top: 0;
      width: 100%;
      background-color: white;
      box-shadow: 0 -25px 30px 10px #000;
      .navbar-brand {
        height: 100px;
        width: auto;
      }
    }
    .navbar-brand {
      width: 160.4px;
      height: 150.15px;
      img {
        height: 100%;
      }
    }
    .navbar-collapse {
      background-color: rgba($color: #fff, $alpha: 1);
      border-radius: 10px;
      margin-top: 10px;
    }
    li {
      transition: color 0.5s ease;
      &:hover {
        color: $primary;
      }

      a {
        // direction: ltr;
        &::after {
          margin: 0 4px;
        }
      }
    }

    .dropdown-menu {
      border: none;
      background-color: #fff;
      box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15);
      border-radius: 5px;
      padding: 15px;
    }
    .dropdown-item {
      text-align: center;
      transition: all 0.3s ease;
      border-bottom: 1px solid #ededed;
      min-width: 222.38px;
      padding: 10px;
      direction: ltr;
      i {
        font-size: 9px;
        &.fa-chevron-right {
          display: none;
        }
      }

      &.hover,
      &:hover {
        background-color: $primary;
        color: white !important;
      }
    }
    .nav-brand.nav-hide {
      display: block;
    }
  }

  .carousel {
    text-align: start;
    height: 100%;
    iframe,
    video {
      width: 100% !important;
      height: 100% !important;
      object-fit: cover;
      position: absolute;
      z-index: -1;
    }
    & > div {
      height: 100%;
      & > div {
        height: 100%;
        background-size: cover !important;
      }
    }
    .carousel-item {
      text-align: inherit;
      height: 546px;
      // &::after {
      //   content: "";
      //   @include overlay(#fff);
      //   @include opacity(0.88);
      //   z-index: -1;
      // }
      .item-wrapper {
        height: 100%;
        display: flex;
        align-items: center;
        div {
          max-width: 800px;
          padding: 0 10px;
          margin-bottom: -100px;
          h1 {
            font-weight: 800;
            font-size: 37.1945px;
          }
          p {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 28px;
            color: #000000;
          }
          button {
            width: 116.21px;
            height: 38.22px;
            background: #3a3839;
          }
        }
      }
    }
    .arrows {
      direction: ltr;
      height: auto;
      position: absolute;
      bottom: 0;
      left: 140px;
      height: auto;
      display: flex;
      z-index: 1;
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 2px;
        width: 56.03px;
        height: 52.67px;
        background: #a4a0a0;
        border-radius: 10px 10px 0px 0px;
      }
    }
  }

  .nav-hide {
    display: block;
  }
  @media #{$extraSmall} {
    height: 79vh;
    .carousel-item {
      height: 100% !important;
      .item-wrapper {
        text-align: center;

        h1 {
          font-size: 23px !important;
        }
        p {
          font-size: 13px !important;
        }
      }
    }
    .navbar-brand {
      height: 100px !important;
      width: auto !important;
    }
    bdi {
      font-size: 13px;
    }
  }
  @media (min-width: 992px) {
    .navbar-expand-lg .navbar-toggler {
      display: block !important;
    }
  }

  @media (min-width: 1200px) {
    .navbar-collapse {
      background-color: transparent !important;
      margin-top: 0 !important;
    }

    .navbar-expand-lg .navbar-toggler {
      display: none !important;
    }
    .nav-hide {
      display: none;
    }
  }

  @media (min-width: 1200px) and (max-width: 1300px) {
    nav .nav-item a {
      font-size: 13px;
    }
  }
}

.brief {
  position: relative;
  text-align: center;
  background-position: center;
  background-size: cover;

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #a4a0a0;
    opacity: 0.4;
  }
  p {
    max-width: 759.83px;
    margin: auto;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #000000;
  }
  button {
    width: 116.21px;
    height: 38.22px;
    background-color: white;
    color: #000;
  }
}

.news {
  background-color: #f8f8f8;
  .row > div {
    margin-bottom: 30px;
  }
  .wrapper {
    margin-bottom: 30px;
    background: #ffffff;
    box-shadow: 0px 0px 23.2161px rgba(0, 0, 0, 0.09);
    border-radius: 8.70605px;
    height: 100%;

    h3 {
      font-weight: 700;
      font-size: 18px;
      padding: 20px 10px;
      text-align: center;
      margin-bottom: 0;
      padding-top: 32px;
    }
    .img {
      margin: 12px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      overflow: hidden;
      height: 191px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    p {
      font-weight: 400;
      font-size: 15px;
      line-height: 28px;
      color: #666666;
      padding: 12px;
      margin-bottom: 0;
    }

    a {
      font-weight: 700;
      font-size: 14.34px;
      padding: 10px 12px 0 30px;
      i {
        margin: 0 10px;
      }
      .fa-long-arrow-alt-left {
        display: inline;
      }
      .fa-long-arrow-alt-right {
        display: none;
      }
    }
  }
  .show-more {
    width: 161.98px;
    height: 38.22px;
    background: #3a3839;
    color: white !important;
    margin-top: 30px !important;
  }
  @media #{$extraSmall} {
    .wrapper {
      text-align: center;
      a {
        justify-content: center;
        padding-left: 0;
      }
    }
  }
}

.services {
  .category-card {
    margin: 0 15px;
  }
  &.acceptance {
    .category-card {
      margin: 0;
    }
  }
  .container {
    direction: ltr;
  }

  .category-card .content-inner {
    color: #fff;
    position: relative;
    transform-style: preserve-3d;
    perspective: 1000px;
    backface-visibility: hidden;
    transition: all 1s ease-in-out;
    margin-bottom: 20px;
  }

  .category-card .fl-wrap {
    position: relative;
  }

  .category-card .content-inner .content-front,
  .category-card .content-inner .content-back {
    position: relative;
    transform-style: preserve-3d;
    perspective: 1000px;
    backface-visibility: hidden;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 23.2161px rgba(0, 0, 0, 0.09);
    border-radius: 8.70605px;
  }

  .category-card .content-front {
    background: #fff;
    position: relative;
    cursor: pointer;
  }

  .category-card .content-inner > * {
    backface-visibility: hidden;
    transition: all 1s ease-in-out;
  }

  .category-card .content-inner .cf-inner {
    transform-style: preserve-3d;
    backface-visibility: hidden;
    width: 100%;
    height: 353.35px;
  }

  .category-card .content-inner .content-back {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    transform: rotateY(180deg);
    background: #3a3839;
  }

  .category-card .bg {
    border-top-left-radius: 8.70605px;
    border-top-right-radius: 8.70605px;
    background: #9a9a9a;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 191px;
    z-index: 1;
    background-size: cover;
    background-attachment: scroll;
    background-position: center;
    background-repeat: repeat;
    background-origin: content-box;
  }

  .category-card .content-inner .cf-inner .inner {
    align-items: stretch;
    transform-style: preserve-3d;
    perspective: 1000px;
    backface-visibility: hidden;
    transform: translateZ(95px) scale(0.81);
    text-align: center;
    position: relative;
    z-index: 2;
    .dec-icon {
      h4 {
        font-weight: 700;
        font-size: 20px;
        padding: 50px 10px 10px;
      }
    }
    p {
      padding: 0 10px;
      max-height: 400px;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -moz-box-orient: vertical;
      -ms-box-orient: vertical;
      box-orient: vertical;
      -webkit-line-clamp: 5;
      -moz-line-clamp: 5;
      -ms-line-clamp: 5;
      line-clamp: 5;
      overflow: hidden;
      font-weight: 400;
      font-size: 16px;
      line-height: 28px;
    }
  }
  .category-card .content-inner .content-front .inner {
    top: 112px;
  }

  .category-card .icon-sty {
    color: #4b6061;
    font-size: 26px;
    width: 65.96px;
    height: 65.96px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 50%;
    background: #f8f8f8;
    position: relative;
    top: 45px;
    margin: auto;
    &::after {
      content: "";
      position: absolute;
      left: 50%;
      height: 125%;
      top: -12%;
      width: 125%;
      background: transparent;
      z-index: -1;
      transform: translate(-50%);
      border-radius: 50%;
      border: 0.967339px solid #f8f8f8;
    }
    img {
      max-width: 100%;
      height: auto;
      padding: 8px;
    }
  }

  .category-card .content-inner .content-front h4 {
    display: block;
    margin: 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 33px;
    margin-top: 78px;
    color: black;
    padding: 0px 35px;
  }

  .category-card .content-inner .cf-inner .inner p {
    color: #fff;
    font-size: 15px;
    line-height: 31px;
    margin-bottom: 20px;
  }

  .category-card .content-inner:hover .content-front {
    transform: rotateY(-180deg);
  }

  .category-card .content-inner:hover .content-back {
    transform: rotateY(0deg);
  }

  .show-more {
    height: 38.22px;
    background: #3a3839;
    color: white !important;
  }
  .slider {
    i {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      font-size: 32.0123px;
      color: #535353;
      cursor: pointer;
      height: 40px;
      width: 40px;
      border-radius: 50%;
      justify-content: center;
      align-items: center;
      font-size: 14px;
      border: 1px solid #d5d5d5;
      color: #757575;
      z-index: 3;
      &.prev {
        left: -47px;
      }
      &.next {
        right: -47px;
      }
    }
  }
  @media #{$extraSmall} {
    .slider {
      i.prev {
        left: -27px;
        background-color: white !important;
      }
      i.next {
        right: -27px;
        background-color: white !important;
      }
    }
  }
}

//partners
.partners {
  background: #f8f8f8;
  .heading {
    h1 {
      color: #3a3839;
      text-transform: none;
    }
  }
  .slider {
    direction: ltr;
    .item {
      display: flex;
      justify-content: center;
      .img {
        background: #f8f8f8;
        border-radius: 10px;
        display: flex;
        padding: 10px;
        width: 124.31px;
        height: 90.74px;
        img {
          mix-blend-mode: darken;
          width: 100%;
          object-fit: contain;
        }
      }
    }
    i {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      font-size: 32.0123px;
      color: #535353;
      z-index: 10;
      cursor: pointer;
      &.next {
        right: -20px;
      }
      &.prev {
        left: -20px;
      }
    }
  }
  @media #{$extraSmall} {
    .slider i {
      &.next {
        right: 10px;
      }
      &.prev {
        left: 10px;
      }
    }
  }
}

// footer
.footer {
  text-align: left;
  color: #757575;
  background-color: #efefef;
  background-position: center;
  img.logo {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
  a {
    font-weight: 400;
    font-size: 14px;
  }

  .btn.btn-link {
    display: block;
    margin-bottom: 20px;
    padding: 0;
    text-align: left;
    color: white;
    text-transform: capitalize;
    transition: 0.3s;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    &::before {
      position: relative;
      content: "\f105";
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      margin-right: 10px;
    }

    &:hover {
      color: $primary !important;
      letter-spacing: 1px;
      text-decoration: none;
    }
  }

  .btn.btn-square {
    color: #7f8499;
    border: 1px solid #7f8499;
  }
  .social a {
    transition: color 0.5s ease;
    &:hover {
      color: $primary !important;
    }
  }

  a span {
    margin: 0 10px;
  }
  .line {
    border: 1px solid rgba($color: #757575, $alpha: 0.2);
    margin: 10px 0;
  }
  .copy {
    p {
      margin-top: 15px;
      margin-bottom: 0;
    }
    div {
      flex-grow: 0.3;
    }
  }
  @media #{$extraSmall} {
    img.logo {
      max-width: 200px;
    }
  }

  @media (max-width: 991px) {
    img.logo {
      max-width: 200px;
    }
  }
  @media #{$minLarge} {
    .social {
      padding-left: 60px;
    }
  }
}
